@{
	ViewData["Title"] = "Home Page";
	var NotSameUser = TempData["NotSameUser"] as string;
	var AdminSuspendedError = TempData["AdminSuspendedError"] as string;
}



@if (!string.IsNullOrEmpty(NotSameUser))
{
	<span class="alert-danger">@NotSameUser</span>
}
@if (!string.IsNullOrEmpty(AdminSuspendedError))
{
	<span class="alert-danger">@AdminSuspendedError</span>
}


<div class="BigTitle">
	<h1 class="title-text">Ride together with BikesCo</h1>
	<img class="title-img" src="/images/riding-bikes.jpg" alt="Family-Riding-Bikes-img">
</div>


<section id="presentation">
	<div>
		<h2 class="pres-text">Who Are We</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam nulla facilisi cras.
			Mi eget mauris pharetra et ultrices neque ornare aenean. Sagittis orci a scelerisque purus semper eget duis at tellus. Aliquet nec ullamcorper sit amet risus nullam eget felis.
		</p>
	</div>
</section>

<section id="reviews">
	<h2 class="pres-text">Satisfied Customers</h2>
	<div id="CarouselReviews" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-interval="3000">
				<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
				<em><img src="images\default-avatar.png" alt="" class="review-img"> Customer</em>
			</div>
			<div class="carousel-item" data-interval="3000">
				<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
				<em><img src="images\default-avatar.png" alt="" class="review-img"> Customer</em>
			</div>
			<div class="carousel-item" data-interval="3000">
				<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
				<em><img src="images\default-avatar.png" alt="" class="review-img"> Customer</em>
			</div>
		</div>
	</div>
</section>

<section id="joining">
	<div class="row">
		<div class="col-lg-6 container-join">
			<div class="centered-text">
				<h2 class="pres-text" style="margin-bottom: 35px;">Join us now and get your bike!</h2>
				<a class="btn btn-outline-light btn-lg"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
			</div>
		</div>
		<div class="col-lg-6">
			<img src="/images/bicycle.png" alt="" class="joining-img">
		</div>
	</div>
</section>

<div id="socials" style="margin-top: 20px; text-align: center;">
	<p id="edit">Follow Us</p>
	<i class="fa-brands footer-icon fa-facebook"></i>
	<i class="fa-brands footer-icon fa-instagram"></i>
	<i class="fa-brands footer-icon fa-twitter"></i>
	<div id="test">

	</div>
</div>