@model BikesTest.Models.User

@{ ViewData["Title"] = "Change Password"; }
<div class="profile-menu-content">
	<h4 class="h4-Profile" style="text-align: center;">Change Password</h4>
	<div class="profile-menu" style="width: 100%;">
		<form method="post" asp-action="ChangePassword" id="Password-form">
			<div class="form-group">
				<label class="control-label">New Password</label>
				<input id="password" name="password" type="password" class="form-control" />
				<span asp-validation-for="password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-outline-dark submit-btn" />
			</div>
		</form>
	</div>
	@* <div>
			<a asp-action="Details" asp-route-id="@Model.id" class="btn btn-danger">Back to Details</a>
		</div> *@

	@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}
</div>